.icon {
	width:40%;
	height:40%;
}


@media (max-width: 480px) {
	input#mce-EMAIL.form-control {
		width: 95%;
		border-bottom: 2px solid;
  		border-radius: 0px;
  		font-size: 12px;
	}

	input#mce-MMERGE3.form-control {
		width:95%; 
		font-size: 12px;
		
	}

	.subscribe-form {
		height:80px;
		max-width: 100%;
		width: 100%;
	}

	.subscribe-form label{
		left:12px;
		white-space: normal;
		top: -28px; 

	}

	label {
  		font-size: 11px;
  		font-weight: 600;
		}

	button#mc-embedded-subscribe {
		padding: 2px;
	}

	form#sub-form mc-embedded-subscribe-form {
		max-width:400px; 
		width:400px;
	}

	button#mc-embedded-subscribe {
		height: 70px;

	}

	.how-it-works {
		height:100px;
		margin-top:40px;
	}

	.how-it-works-btn {
	background-color:#ef5350;
	border-color: #ef5350; 
	width:150px; 
	margin-left:0px;
	border-radius:0px;
	outline:0px;
	}

	h4#company_name {
  		margin-left: 5px;
	}

	.how-it-works-point {
	width:25%;
	margin-left:4.16%;
	margin-top:20px;
	margin-right:4.16%;
	color:white;
}

    
  }

@media (max-width: 979px) and (min-width:481px) {
  	input#mce-EMAIL.form-control {
		width: 45%;
  		float: left;
  		border-right: 2px solid;
  		border-radius: 0px;
	}

	input#mce-MMERGE3.form-control {
		width:55%; 
		float:left;
	}

	form#sub-form mc-embedded-subscribe-form {
		max-width:700px; 
		width:700px;
	}

	.how-it-works {
	height:100px;
	margin-top:65px;
	}

	.how-it-works-btn {
	background-color:#ef5350;
	border-color: #ef5350; 
	width:150px; 
	margin-left:0px;
	border-radius:0px;
	outline:0px;
	}

	h4#company_name {
  		margin-left: 5px;
	}

	.subscribe-form {
		width: 90%;
	}

	.how-it-works-point {
	width:25%;
	float:left;
	margin-left:4.16%;
	margin-top:20px;
	margin-right:4.16%;
	color:white;
}



  }

@media (min-width:980px){
	input#mce-EMAIL.form-control {
		width: 45%;
  		float: left;
  		border-right: 2px solid;
  		border-radius: 0px;
	}

	input#mce-MMERGE3.form-control {
		width:55%; 
		float:left;
	}

	form#sub-form mc-embedded-subscribe-form {
		max-width:700px; 
		width:700px;
	}

	.how-it-works {
	height:100px;
	margin-top:65px;
	}

	.how-it-works-btn {
	background-color:#ef5350;
	border-color: #ef5350; 
	width:150px; 
	margin-left:0px;
	border-radius:0px;
	outline:0px;
	}

	h4#company_name{
		line-height:30px; 
		margin-top:22.5px;
	}

	h1#headline {
		margin-top:25px;
	}

	.subscribe-form {
		width: 90%;
	}

	.how-it-works-point {
	width:25%;
	float:left;
	margin-left:4.16%;
	margin-top:20px;
	margin-right:4.16%;
	color:white;
}

}




.how-it-works-btn:hover, .how-it-works-btn:focus {

	outline:0px;

}

.btn-primary:focus {
	outline:0px;
}

.how-it-works-dropdown {
    top:0px;
    background-color:#008080;
    width:100%;
    height:1000px;
    overflow:scroll;
}

.how-it-works-content {
	width:80%;
	margin:auto;
	margin-top:115px;
	text-align:center;
	color:white;
}

.how-it-works-x {
	float:right;
	margin-right:70px;
	margin-top:115px;
	font-size:50px;
	font-weight:100;
}

.how-it-works-x-link:hover {
	cursor:pointer;
	text-decoration: underline;
}



.services-container {
	width: 100%;
	height:1000px;
}

.services-container-left {
	width:40%;
	height:100%;
	float:left;
	margin: 5%;
	height:800px;
	margin-top:10%;
	border-right: 1px solid #ccc;
	margin-right: 10%;


}

.services-container-right {
	height:100%;
	width:45%;
	float:left;
	margin-top:10%;
}

input[placeholder], [placeholder], *[placeholder] {
	color: white;
}